html, body, .container {
    height: 100%;
    background-image:url(../pic/supermarket.png);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;

	opacity: 1;
}
.container {
    display: table;
    vertical-align: middle;
    opacity: 0.95;
    border-radius: 25px;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
